* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --header-bg: #497174;
    --logo: #eb6440;
    --header-text: #eff5f5;
}

body {
    background-color: #eff5f5;
}

/* Header */

header {
    padding: 1rem;
    background-color: var(--header-bg);
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 2rem;
    color: var(--logo);
}

.name {
    color: var(--header-text);
}

/* Header End */

/* Sections */
section {
    padding: 1rem 5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 10rem;
}

label {
    padding-left: 5px;
    font-size: 0.7rem;
    font-weight: 600;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid #d6e4e5;
    padding: 5px;
}

input:focus,
textarea:focus {
    border: 1px solid var(--logo);
    outline: none;
}

.title {
    padding: 1rem;
}

.form-pair {
    display: flex;
    justify-content: space-between;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.checkbox {
    flex-direction: row;
}
/* Sections End */

/* Preview */
.preview {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 1rem 5rem;
}

.personal-info {
    background-color: #3c79f5;
    color: white;
    padding: 1rem;
}

.main-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.main-body h1 {
    color: #3c79f5;
}

.main-body h3 {
    color: #5b8fb9;
}

.main-body h4 {
    font-weight: 300;
}

.main-body h5 {
    font-weight: 200;
}

.main-body span {
    font-size: 80%;
}

.cv-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cv-head,
.summary h1 {
    padding-bottom: 1rem;
}

/* Preview End */

/* Buttons */

.buttons {
    display: flex;
    justify-content: space-between;
}

.back,
.next {
    cursor: pointer;
    border: none;
    font-style: inherit;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #497174;
    background: none;
}

.back:hover,
.next:hover {
    color: var(--logo);
}

.add {
    cursor: pointer;
    color: var(--logo);
}

.add:hover {
    color: var(--header-bg);
}

/* Buttons End */
