* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --header-bg: #f0f0f0;
    --logo: #009fbd;
    --header-text: #7b8fa1;
}

/* Header */

header {
    padding: 1rem;
    background-color: var(--header-bg);
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 2rem;
    color: var(--logo);
}

.name {
    color: var(--header-text);
}

/* Header End */

/* Sections */
section {
    padding: 1rem 5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    padding: 1rem;
}

.form-pair {
    display: flex;
    justify-content: space-between;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.checkbox {
    flex-direction: row;
}
/* Sections End */
